<div class="p-top osans">
  <div class="row sfont">
    <div class="col-5">
      <div class="row mtop">
        <div *ngFor="let fitem of footerItemsLeft" class="col">
          <div class="text-center">
            <a *ngIf="fitem.url"[routerLink]="fitem.url" class="sfont">{{fitem.text}}</a>
            <span *ngIf="!fitem.url" class="nowrap sfont">{{fitem.text}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="row">
        <img (click)="onLogoClick()" class="logo center-block" title="Anotha one!"
          [src]="'assets/pics/' + currentLogoIndex" alt="Footer Logo"> 
      </div>
    </div>

    <div class="col-5">
      <div class="row mtop">
        <div *ngFor="let fitem of footerItemsRight" class="col">
            <a [routerLink]="fitem.url" class="sfont">{{fitem.text}}</a>
        </div>
        
      </div>
    </div>
  </div>
</div>