.logo {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.p-top {
  padding-top: 10px;
}

.center-block {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.sfont {
  font-size: 12px;
}

.mtop {
  margin-top: 12px;
}