:host {
  display: block;
  padding: 0 16px;
}

.search-label {
  font-weight: bold; 
}

.search-banner {
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  height: 105px;
}

.search-button {
  margin-bottom: 10px;
}

.form-control {
  font-weight: bold;
}

.input-container{
  width: 88%;
}

.required-warning-text {
  font-size: 12px;
  font-weight: bold;
  color: #ff1a1a;
  margin-bottom: 20px;
}

.card-title {
  max-width: 10px;
  font-size: 20px;
}

.details-button {
  height: 50%;
  top: 15px;
}

.page-links {
  margin-bottom: 15px;
  margin-top: 10px;
}

.select-login-type {
  padding-top: 10px;
  padding-right: 10px;
}

.select-follower-count {
  position: absolute;
  max-width: 100px;
}

.save-history-toggle {
  float: right;
  margin-top: -37px;
}

.search-icon {
  float: right;
  height: 1px;
}

.search-progress-bar {
  width: 95%;
  height: 4px;
  margin-bottom: 10px;
  margin-top: -12px;
}