<md-card class="search-banner"> 
  <md-card-title> Search </md-card-title>
  <md-card-subtitle> Search for users or organizations on Github</md-card-subtitle>
  <md-slide-toggle class="save-history-toggle" color="primary" mdTooltip="Show past searches"
    [(ngModel)]="saveHistory"> History
  </md-slide-toggle>
</md-card>

<div class="search-progress-bar" [hidden]="hideProgressBar">
  <md-progress-bar
    
    color="primary"
    mode="indeterminate">
  </md-progress-bar>
</div>

<div class="">
  <form (ngSubmit)="onSearchSubmit()" #searchForm="ngForm">

      <md-input-container class="input-container">
        <input mdInput type="text" class="form-control" id="searchLoginInput"
          required placeholder="Enter a {{search.type | ViewValuePipe | lowercase }} name. (e.g. {{search.type | placeholderType}})" 
          [(ngModel)]="search.login" name="login" 
          #name="ngModel">
        <span class="search-label"></span>
      </md-input-container>

      <button md-raised-button color="primary" type="submit" class="search-button" 
        [disabled]="!searchForm.form.valid"><md-icon>search</md-icon></button>
      <div [hidden]="name.valid || name.pristine" class="required-warning-text">
        A name is required*
      </div>
      <div class="required-warning-text" *ngIf="errorMessage">
        Error: Last operation failed due to {{errorMessage}}
      </div>

      <section>
        <md-select placeholder="Searching in.." class="select-login-type" 
          [(ngModel)]="search.type" name="login-type">
          <md-option *ngFor="let type of loginTypes" [value]="type.value">
            {{type.viewValue}}
          </md-option>
        </md-select>
        <md-select #followerTypeSelector placeholder="With followers.." class="select-login-type" 
          [(ngModel)]="search.followerFilter" name="follower-filter">
          <md-option *ngFor="let ftype of followerFilter" [value]="ftype.value">
            {{ftype.viewValue}}
          </md-option>
        </md-select>
        <md-input-container class="select-follower-count">
          <input (keypress)="onlyNumberKey($event)" mdInput type="number" 
            [hidden]="search.followerFilter==='noFilter'" placeholder="Count" 
            [(ngModel)]="search.followers" name="follower-count">
        </md-input-container>
      </section>
  </form>
</div>

<div [hidden]="hideResultInfo"><h3>Displaying {{userCount}} of total {{searchResultCount}} results</h3></div>

<div class="page-links" *ngIf="this.usersService.pagination">
  <button [disabled]="!page.first" md-raised-button color="primary" (click)="onPageSelect('first')">First Page</button>
  <button [disabled]="!page.prev" md-raised-button color="primary" (click)="onPageSelect('prev')">Previous Page</button>
  <button [disabled]="!page.next" md-raised-button color="primary" (click)="onPageSelect('next')">Next Page</button>
  <button [disabled]="!page.last" md-raised-button color="primary" (click)="onPageSelect('last')">Last Page</button>
  <h3>(Page {{this.usersService.currentPageNumber}} of {{this.usersService.lastPageNumber}})</h3> 
</div>

<sd-meta [hidden]="!saveHistory"></sd-meta>

<md-card class="user-cards" *ngFor="let user of users">
  <md-card-title-group>
    <img md-card-sm-image [src]="user.avatar_url" alt="">
    <md-card-title class="card-title">{{user.login}}</md-card-title>
    <md-card-subtitle>{{user.type}}</md-card-subtitle>
    
    <button md-raised-button color="warn" class="details-button"
      (click)="onUserSelect(user)" mdTooltip="View details">
        Details
    </button>
  </md-card-title-group>
</md-card>

