<mat-toolbar class="toolbar-top">
  <mat-toolbar-row class="container-lg container-text-white container-no-padding">
    <a class="main-toolbar-link" (click)="goToSearchHome()">{{toolbarTitle}}</a>
    
    <a *ngFor="let item of toolbarNavItems" class="nav-item-link" [routerLink]="item.url" 
      [routerLinkActive]="item.activeCss">
      {{item.displayText}}
    </a>

    <span class="toolbar-spacer"></span>

    <button mat-button class="btn-small">
      <mat-icon class="search-icon">search</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menuComp?.menu" class="btn-small">
      <mat-icon class="account-icon">{{uas.userLoggedIn ? 'face' : 'account_circle'}}</mat-icon>
    </button>

    <toolbar-user-menu #userMenu [menuYPosition]="menuYPosition"
      [menuOverlap]="menuOverlap">
    </toolbar-user-menu>

  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar *ngIf="false" [mode]="'indeterminate'" [color]="'primary'"></mat-progress-bar>
