.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-icon-spacer {
  margin-left: 20px;
}

.main-toolbar-link {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.nav-item-link {
  color: #fff;
  font-weight: 600;
  padding-left: 25px;
  line-height: 21px;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: solid;
} 

.nav-item-link:hover {
  color: #a6a6a6;
}


/* Material buttons override */
.mat-button.btn-small {
  min-width: 10px;
}

.toolbar-top {
  background-color: #3c4146;
}