.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-icon-spacer {
  margin-left: 20px;
}

.main-toolbar-link {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

/* Material buttons override */
.mat-button.btn-small {
  min-width: 10px;
}

.toolbar-top {
  background-color: #3c4146;
}