<mat-menu #userMenu [yPosition]="menuYPosition" [overlapTrigger]="menuOverlap">
  <span mat-menu-item disabled>
    <span>{{uas.userInfo.userName ? uas.userInfo.userName : "Loading..."}}</span>
  </span>
  <button *ngIf="uas.userLoggedIn" mat-menu-item>
    <mat-icon>email</mat-icon>
    <span>{{uas.userInfo.userEmail}}</span>
  </button>
  <button *ngIf="uas.userLoggedIn" mat-menu-item>
    <mat-icon>
      <i class="material-icons md-dark">perm_identity</i>
    </mat-icon>
    <span>Settings</span>
  </button>
  <button (click)="userLoginToggle()" mat-menu-item 
    [disabled]="uas.userLogInToggleButtonText === Btext.BUTTON_TEXTS.LOGGING_IN">
    <mat-icon>
      <i class="material-icons md-dark" 
        [ngClass]="{'md-inactive': uas.userLogInToggleButtonText === Btext.BUTTON_TEXTS.LOGGING_IN}">
        {{uas.userLoggedIn ? 'trending_flat' : 'vpn_key'}}</i>
    </mat-icon>
    <span>{{uas.userLogInToggleButtonText}}</span>
  </button>
</mat-menu>