<h2>User Details</h2>

<div *ngIf="user">
  <md-card class="user-cards">
    <md-card-header>
      <img md-card-avatar class="user-detail-avatar" [src]="user.avatar_url">
      <md-card-title><b>{{user.login}}</b> ({{user.name}}) - {{user.followers}} followers</md-card-title>
      <md-card-subtitle>{{user.company}} <b>|</b> {{user.location}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>{{userBio}}</p>
    </md-card-content>
    <md-card-actions class="card-actions">
      <a [href]=user.html_url target="_blank"><button md-mini-fab color="warn" title={{userGithubPageTooltip}}>
        <md-icon class="md-24">trending_up</md-icon> 
      </button></a>
      <a *ngIf="user.email" [href]="'mailto:'+user.email">
        <button md-mini-fab color="warn" title={{userEmailTooltip}}>
            <md-icon class="md-24">send</md-icon>
        </button>
      </a>
   </md-card-actions>
  </md-card>
</div>

<p>
    <button md-raised-button color="accent" (click)="goToAllUsers()">Back</button>
</p>