:host {
  display: block;
  padding: 0 16px;
}

.search-label {
  font-weight: bold; 
}

.search-button {
  margin-bottom: 10px;
}

.form-control {
  color: #808080;
  font-weight: bold;
}

.input-container{
  width: 42.5%;
}

.required-warning-text {
  font-size: 12px;
  font-weight: bold;
  color: #ff1a1a;
}

.card-title {
  max-width: 10px;
  font-size: 20px;
}

.details-button {
  height: 50%;
  top: 15px;
}