<h2> Search for Users <h3>(Displaying top {{userCount}} of total {{searchResultCount}} results)</h3></h2>

<div class="search-panel">
  <form (ngSubmit)="onSearchSubmit()" #searchForm="ngForm">
    <div class="form-group">
      <md-input-container class="input-container">
        <input md-input type="text" class="form-control" id="searchLoginInput"
          required placeholder="Enter a user name. (e.g. tom)" [(ngModel)]="search.login" name="login" 
          #name="ngModel">
        <span md-prefix class="search-label">Name:&nbsp;</span>
      </md-input-container>
      <button md-raised-button color="primary" type="submit" class="search-button" 
        [disabled]="!searchForm.form.valid">Search!</button>
      <span [hidden]="name.valid || name.pristine" class="required-warning-text">
        A name is required*
      </span>
    </div>
  </form>
</div>

<div class="page-links">
  <button md-button color="primary" (click)="onPageSelect()"><<</button>
  <button md-button color="primary" (click)="onPageSelect()"><</button>
  <button md-button color="primary" (click)="onPageSelect()">></button>
  <button md-button color="primary" (click)="onPageSelect()">>></button>
</div>

<md-card class="user-cards" *ngFor="let user of users">
  <md-card-title-group>
    <img md-card-sm-image [src]="user.avatar_url" alt="">
    <md-card-title class="card-title">{{user.login}}</md-card-title>
    <md-card-subtitle>{{user.type}}</md-card-subtitle>
    
    <button md-raised-button color="warn" class="details-button"
      (click)="onUserSelect(user)" mdTooltip="View details">
        Details
    </button>
  </md-card-title-group>
</md-card>

