/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto|Open+Sans');

/* Global Properties */
html, body {
  margin: 0;
  height: 100%;
}

.wrap {
  max-width: 50rem;
  margin: 1rem auto 1rem;
}

.wrapper {
  min-height: calc(100vh - 70px);
}

.footer {
  height: 50px;
}

.gray-text {
  color: #808080;
  font-size: 20px;
}

.flex-justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center
}

.center {
  text-align: center;
  max-width: 50rem;
}

h1 {
  font-family: 'Roboto', sans-serif !important;
}
 
h2, h4 {
  font-family: 'Roboto', sans-serif !important;
}

p {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .01562rem;
}

.osans {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #1a73e8;
  line-height: inherit;
  text-decoration: none;
}

a:hover {
  color: #74aaf1;
}

a:visited {
  color: #125bba;
  background-color: transparent;
}

.med-font {
  font-size: 16px;
}

.big-font {
  font-size: 18px;
}

.nowrap {
  white-space: nowrap;
}

.container-no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.p-top {
  padding-top: 30px;
}

/* Mateiral Icons */
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
