<md-card class="top-banner"> 
  <md-card-title>About</md-card-title>
  <md-card-subtitle>Version 1.0 - Last build at: 4/25/2017</md-card-subtitle>
  <md-card-content>
    This Angular 4.0.0 application is powered by <a href="https://developer.github.com/v3/" target="_blank">
    Github API (v3)</a> and <a href="https://github.com/angular/material2" target="_blank">Material 2</a>.
  </md-card-content>
</md-card>

<md-card class="tracker-slider">
  <md-card-title class="">Progress Tracker </md-card-title >
  <md-card-subtitle>({{slideValue}}%)</md-card-subtitle>
  <md-slider
      class="tracker-margin"
      max=100
      min=0
      step=20
      tick-interval=1
      thumb-label=true
      [value]="slideValue">
  </md-slider>
</md-card>
<md-card class="feature">
  <md-card-title>Features</md-card-title>
  <md-card-content>
        <md-list>
          <md-list-item> <md-checkbox class="" disabled=true [(ngModel)]="refinedSearch">Refined search options.</md-checkbox> </md-list-item>
          <md-list-item> <md-checkbox class="" disabled=true [(ngModel)]="viewDetails">View user/org details.</md-checkbox> </md-list-item>
          <md-list-item mdTooltip="Work in progress!" mdTooltipPosition="left"> <md-checkbox indeterminate=true disabled=true>Materialize components.</md-checkbox> </md-list-item>
          
          <md-list-item class="list-tab-right"> <md-checkbox [(ngModel)]="viewDetails" disabled=true>Button</md-checkbox> </md-list-item>
          <md-list-item class="list-tab-right"> <md-checkbox [(ngModel)]="viewDetails" disabled=true>Input</md-checkbox> </md-list-item>
          <md-list-item class="list-tab-right"> <md-checkbox [(ngModel)]="viewDetails" disabled=true>Checkbox</md-checkbox> </md-list-item>
          <md-list-item class="list-tab-right"> <md-checkbox [(ngModel)]="viewDetails" disabled=true>Select</md-checkbox> </md-list-item>
          <md-list-item class="list-tab-right"> <md-checkbox [(ngModel)]="viewDetails" disabled=true>Slider</md-checkbox> </md-list-item>
          <md-list-item class="list-tab-right"> <md-checkbox [(ngModel)]="viewDetails" disabled=true>Slide Toggle</md-checkbox> </md-list-item>
          <md-list-item class="list-tab-right"> <md-checkbox [(ngModel)]="viewDetails" disabled=true>Menu</md-checkbox> </md-list-item>
          <md-list-item class="list-tab-right"> <md-checkbox [(ngModel)]="viewDetails" disabled=true>Toolbar</md-checkbox> </md-list-item>
          <md-list-item class="list-tab-right"> <md-checkbox [(ngModel)]="viewDetails" disabled=true>List</md-checkbox> </md-list-item>
          <md-list-item class="list-tab-right"> <md-checkbox [(ngModel)]="viewDetails" disabled=true>Card</md-checkbox> </md-list-item>
          <md-list-item class="list-tab-right"> <md-checkbox [(ngModel)]="viewDetails" disabled=true>Icon</md-checkbox> </md-list-item>
          <md-list-item class="list-tab-right"> <md-checkbox [(ngModel)]="viewDetails" disabled=true>Progress Bar</md-checkbox> </md-list-item>
          <md-list-item class="list-tab-right"> <md-checkbox [(ngModel)]="viewDetails" disabled=true>Dialog</md-checkbox> </md-list-item>
          <md-list-item class="list-tab-right"> <md-checkbox [(ngModel)]="viewDetails" disabled=true>Tooltip</md-checkbox> </md-list-item>
          <md-list-item class="list-tab-right"> <md-checkbox [(ngModel)]="viewDetails" disabled=true>Snackbar / Toast</md-checkbox> </md-list-item>
          
        </md-list>
  </md-card-content>
</md-card>

<md-card class ="todo">
  <md-card-title>TODO</md-card-title>
  <md-card-content>
      <md-list>
        <md-list-item> <md-checkbox [(ngModel)]="toDoAuth" (ngModelChange)="checkBox('toDoAuth')">
          <span [ngClass]="toDoAuth===true?'done':''">Authenticate with Github Auth API.</span>
        </md-checkbox> </md-list-item>
        <md-list-item> <md-checkbox [(ngModel)]="toDoSaveSearch" (ngModelChange)="checkBox('toDoSaveSearch')">
          <span [ngClass]="toDoSaveSearch===true?'done':''">Provide save history.</span>
        </md-checkbox> </md-list-item>
        <md-list-item> 
          <md-checkbox [(ngModel)]="toDoUserDetail" (ngModelChange)="checkBox('toDoUserDetail')">
            <span [ngClass]="toDoUserDetail===true?'done':''">Improve user details.</span>
          </md-checkbox> 
        </md-list-item>
      </md-list>
  </md-card-content>
</md-card>

<div class="in-the-know">
  <h2> Stay in the Know </h2>
  <h3> Keep up to date with the latest updates by subscribing to our news letter.</h3>
  <br><md-input-container class="email-input">
    <input mdInput type="text" class=""
      placeholder="Email address" 
      [(ngModel)]="emailAddress" name="inTheKnowEmail" >
    <span class="search-label"></span>
  </md-input-container>
  <button mdTooltip="We won't spam you!" mdTooltipPosition="above" 
    md-button (click)="subscribe()"> Subscribe </button>
</div>