:host {
}

.main-nav h1 {
  float: left;
  margin: 0 72px 0 0;
  padding: 0;
  width: 100px;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  margin: 0;
}

.l-left {
    float: left;
}

h1 {
  font-size: 25px;
}